<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seanharrington.what2eat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="seanharrington.what2eat.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="seanharrington.what2eat.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="seanharrington.what2eat.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seanharrington.what2eat.MainActivity" />
        </activity>
        <activity
            android:name="seanharrington.what2eat.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName="seanharrington.what2eat.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seanharrington.what2eat.MainActivity" />
        </activity>
        <activity
            android:name="seanharrington.what2eat.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName="seanharrington.what2eat.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seanharrington.what2eat.MainActivity" />
        </activity>
        
        <activity
            android:name="seanharrington.what2eat.OutputActivity"
            android:label="@string/title_activity_output"
            android:parentActivityName="seanharrington.what2eat.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seanharrington.what2eat.MainActivity" />
        </activity>
        
       
    </application>

</manifest>
